*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter",Arial, Helvetica, sans-serif;
}

:root{
    --purple-300: #E4D7FF;
    --purple-500: rgb(101,43,223);
    --purple-700: #580C72;
    --purple-800: rgb(54,12,114);
    --primary-color: #FCFBFF;
    --p-color: #646464;
}

header{
    padding: 10px;
    border: solid 1px, rgb(225, 225, 225);
}

.mobile{
    display: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

nav ul{
    display: flex;
}

nav ul li{
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    margin: 0px 4px;
    padding: 10px 24px;
    font-weight: 700;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.linea-divisora-header{
    width: 1px;
    height: 24px;
    background-color: #bebebe;
}

.boton-header{
    margin-left: 20px;
}

.boton1{
    color: var(--purple-500);
    border: solid 1px;
    border-color: var(--purple-500);
}

.boton2{
    color: white;
    background-color: var(--purple-500);
}

nav ul li:hover{
    color: var(--purple-700);
    background-color: var(--purple-300);
}

.boton1:hover{
    background-color: var(--purple-300);
    color: var(--purple-700);
    border-color: var(--purple-700);
    border: solid 1px;
    transition: background-color .3s, color .3s, infinite, alternate;
}

.boton2:hover{
    background-color: var(--purple-300);
    color: var(--purple-700);
    border-color: var(--purple-700);
    border: solid 1px;
    transition: background-color .3s, color .3s, infinite, alternate;
}

main{
    background-color: var(--primary-color);
    margin: 0 auto;
}

.h2-vuelo{
    margin: 8px 0px;
    text-align: center;
    font-size: 40px;
}

.seccion-paneles{
    display: flex;
    gap: 16px;
    margin: 0 auto;
    max-width: 1022px;
    padding: 0;
}

.panel {
    margin-top: 12px;
    background-color: white;
    border-radius: 16px;
    width: 100%;
    min-height: 250px;
    padding: 24px;
    gap: 16px;
}

.panel div{
    display: block;
    padding: 16px;
    background-color: var(--purple-300);
    height: 57px;
    width: 57px;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.panel div svg{
    width: 25px;
    height: 25px;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel p{
    font-size: 18px;
    color: var(--p-color);
}

.panel:hover{
    transform: translateY(-6px);
    transition: transform .3s ease-out;
}

.seccion2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel2{
    background-color: var(--purple-800);
    display: flex;
    width: 100%;
    max-width: 1022px;
    border-radius: 32px;
    margin: 30px 24px 30px 24px;
    padding: 32px 40px;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.contenido-panel2{
    justify-content: space-between;
    color: white;
}

.contenido-panel2 h2{
    font-size: 30px;
}

.contenido-panel2 p{
    font-size: 18px;
}

.boton-vuela{
    background-color: white;
    border-radius: 16px;
    padding: 10px 32px;
    font-weight: 600;
    color: var(--purple-500);
}

.boton-vuela:hover{
    background-color: black;
    transition: background-color .4s ease-out;
}

.titulo-cobro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-cobro h2{
    font-size: 40px;
    margin: 10px;
}

.seccion-cobro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subseccion1{
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 950px;
    border-radius: 24px;
    padding: 0 24px 0 24px;
    margin: 25px auto;
}

.cobro-text h2{
    padding-bottom: 17px;
}

.cobro-text p{
    padding-bottom: 17px;
}

.boton-conoce-mas{
    display: flex;
    justify-content: center;
    background-color: var(--purple-500);
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: 600;
    color: white;
    width: 180px;
    height: 45px;
}

.boton-conoce-mas:hover{
    background-color: black;
    transition: background-color .4s ease-out;
}

.cobro-img img{
    width: 450px;
}

.cobro-img-mb{
    display: none;
}

.cobro-text-mb{
    display: none;
}

footer{
    padding: 25px;
    display: flex;
    justify-content: center;
}

.list-mb{
    display: flex;
    padding: 25px;
}

.list-footer{
    display: flex;
    gap: 80px;
}

.list-footer span{
    font-weight: 600;
}

.list{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.list ul li{
    margin: 15px 0;
    font-weight: 500;
    color: var(--p-color);
}

/*Parte responsive*/

@media (max-width:500px) {
    body{
        height: 100vh;
    }
    nav{
        display: none;
    }
    
    .mobile{
        display: flex;
        align-items: center;
        position: relative;
        padding: 12px 16px;
    }

    .header-mb-img1{
        margin-right: auto;
    }

    .header-mb-img2{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .h2-vuelo{
        font-size: 22px;
    }

    .seccion-vuelo{
        display: block;
    }

    .contenido-panel2 h2{
        padding-bottom: 5px;
        font-size: 25px;
        font-weight: 500;
    }

    .contenido-panel2 p{
        padding: 10px 0 10px 0;
        font-size: 13px;
        font-weight: 400;
    }

    .panel h3{
        margin: 15px auto;
        font-size: 20px;
    }

    .panel p{
        font-size: 17px;
    }

    .titulo-cobro h2{
        font-size: 28px;
    }

    .boton-vuela{
        text-align: center;
    }

    .seccion-paneles{
        display: block;
    }

    .panel2{
        display: block;
    }

    .subseccion1{
        display: block;
    }

    .boton-conoce-mas{
        width: 75vh;
    }

    footer{
        display: block;
    }

    .list-footer{
        display: block;
    }
}