*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter",Arial, Helvetica, sans-serif;
}

:root{
    --purple-300: #E4D7FF;
    --purple-500: rgb(101,43,223);
    --purple-700: #580C72;
    --purple-800: rgb(54,12,114);
    --primary-color: #FCFBFF;
    --p-color: #646464;
}

header{
    padding: 10px;
    border: solid 1px, rgb(225, 225, 225);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

nav ul{
    display: flex;
}

nav ul li{
    border-radius: 50px;
    font-size: 14px;
    margin: 0px 4px;
    padding: 10px 24px;
    font-weight: 700;
    overflow: hidden;
}

.linea-divisora-header{
    width: 1px;
    height: 24px;
    background-color: #bebebe;
}

.boton-header{
    margin-left: 20px;
}

.boton1{
    color: var(--purple-500);
    border: solid 1px;
    border-color: var(--purple-500);
}

.boton2{
    color: white;
    background-color: var(--purple-500);
}

nav ul li:hover{
    color: var(--purple-700);
    background-color: var(--purple-300);
}

.boton1:hover{
    background-color: var(--purple-300);
    color: var(--purple-700);
    border-color: var(--purple-700);
    border: solid 1px;
    transition: background-color .3s, color .3s, infinite, alternate;
}

.boton2:hover{
    background-color: var(--purple-300);
    color: var(--purple-700);
    border-color: var(--purple-700);
    border: solid 1px;
    transition: background-color .3s, color .3s, infinite, alternate;
}

main{
    background-color: var(--primary-color);
    margin: 0 auto;
}

.h2-vuelo{
    margin: 8px 0px;
    text-align: center;
    font-size: 40px;
}

.seccion-paneles{
    display: flex;
    gap: 16px;
    margin: 0 auto;
    max-width: 1022px;
    padding: 0;
}

.panel {
    margin-top: 12px;
    background-color: white;
    border-radius: 16px;
    width: 100%;
    min-height: 250px;
    padding: 24px;
    gap: 16px;
}

.panel div{
    display: block;
    padding: 16px;
    background-color: var(--purple-300);
    height: 57px;
    width: 57px;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.panel div svg{
    width: 25px;
    height: 25px;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel p{
    font-size: 18px;
    color: var(--p-color);
}

.panel:hover{
    transform: translateY(-6px);
    transition: transform .3s ease-out;
}

.seccion2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel2{
    background-color: var(--purple-800);
    display: flex;
    width: 100%;
    max-width: 1022px;
    border-radius: 32px;
    margin: 30px 24px 30px 24px;
    padding: 32px 40px;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.contenido-panel2{
    justify-content: space-between;
    color: white;
}

.contenido-panel2 h2{
    font-size: 30px;
}

.contenido-panel2 p{
    font-size: 18px;
}

.boton-vuela{
    background-color: white;
    border-radius: 16px;
    padding: 10px 32px;
    font-weight: 600;
    color: var(--purple-500);
}

.boton-vuela:hover{
    background-color: black;
    transition: background-color .4s ease-out;
}